/*===== Color White to background =====*/
$c-white: #F8F8F8;
/*=====================================*/

/*=========== Pallete Color ===========*/
$c-primary_l: #E6EDF3;
$c-primary_l_hover: #D9E4ED;
$c-primary_l_active: #B1C6D9;
$c-primary_n: #044884;          //Dark Blue
$c-primary_n_hover: #044177;
$c-primary_n_active: #033A6A;

$c-secundary: #09A3B8;          //Blue
/*=====================================*/