
/*===== Tipography font size =====*/
$tp-bbx: 0.8125rem; // 14px
$tp-m: 1rem;        // 16px
$tp-bx: 1.25rem;    // 20px
$tp-bbx: 2rem;      // 32px
/*================================*/

/*=====    Path of images    =====*/
$path-hero-images: '/assets/images/hero-unit/students', '/assets/images/hero-unit/studing';
/*================================*/